html {
  background-color: #2a2a2e;
  padding: 12px;
}
body {
    padding: 24px;
  background-color: #f8f9fa;
  margin: auto;
}
nav{height: fit-content;}

.red {
  color: #880808;
}

#name {
  font-size: 54px;
}
